---
import { getCollection, render } from "astro:content";
import { Image } from "astro:assets";

import Layout from "@layouts/Layout.astro";
import PostMetaData from "@components/PostMetaData.astro";
import { createSlug } from "@utils/utils";

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  return posts.map((post) => ({
    params: { slug: createSlug(post.data.title) },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout title={post.data.title}>
  <section id="content" class="prose">
    <h1>{post.data.title}</h1>
    <PostMetaData post={post} />
    <Content />
  </section>
</Layout>

<style>
  :global(img) {
    border: 1px solid var(--color-zinc-200);
    border-radius: 0.5rem;
  }
</style>
