---
import Layout from "@layouts/Layout.astro";

const title = "404 - Page not found";
---

<Layout title="404 - Page not found">
  <section id="404-not-found" class="prose">
    <h1 class="">Error 404 - Page not found</h1>
    <p>The requested URL was not found on this server.</p>
    <p>Please select something from the menu above.</p>
  </section>
</Layout>
