---
// Footer.astro
---

<footer class="border-t-2 text-sm text-center pt-4">
  <p class="pt-2">&copy; 2025 cbrueggenolte.de. All rights reserved.</p>
  <p class="">
    Made with <a href="https://astro.build">Astro</a> and hosted on <a
      href="https://uberspace.de">Asteroids</a
    >
  </p>
</footer>

<style>
  footer {
    border-top: 1px solid var(--color-slate-200);
    padding: 2rem;
    margin-top: 2rem;
  }

  footer a {
    color: var(--color-orange-600);
  }

  footer a:hover {
    text-decoration: underline;
  }
</style>
