---

---

<h1 class="text-2xl">Hi! Carsten here 👋. Welcome to my place of thinking.</h1>
<p>Here I share...</p>

<p>
  I'm a software engineer who's passionate about writing code and solving
  problems.
</p>
