---
import { formatDate } from "@utils/utils";

const { post } = Astro.props;
---

<div class="text-sm text-slate-500 dark:text-zinc-400 mb-8">
  Mod: {formatDate(post.data.modDate)} | Pub:{" "}
  {formatDate(post.data.pubDate)} | Tags: {" "}
  {
    post.data.tags
      ? post.data.tags
          .map((tag: string) => (
            <>
              <a href={`/tags/${tag}`}>{tag}</a>
            </>
          ))
          .reduce((prev: string, curr: string) => [prev, ", ", curr])
      : "No tags"
  }
</div>
