---
import Layout from "./Layout.astro";
import { formatDate } from "@utils/utils";

const { frontmatter, headings } = Astro.props;
---

<Layout title={frontmatter.title}>
  <section
    id="pageContent"
    class="prose text-lg dark:prose-invert prose-h2:mb-4 prose-h3:mb-4 prose-p:mb-5 prose-p:mt-0">
    <header class="mb-6">
      <h1 class="mb-1">{frontmatter.title}</h1>
      <div class="text-sm text-slate-500 dark:text-zinc-400">
        {frontmatter.date && formatDate(frontmatter.date)}
      </div>
    </header>

    {
      frontmatter.toc == true && headings.length > 0 && (
        <div
          id="toc"
          class="sticky -top-1 pt-2 mb-6 bg-zinc-100 dark:bg-slate-800">
          <div class="font-medium text-lg mb-2">Table Of Contents</div>
          <ul class="flex flex-row gap-2 not-prose flex-wrap pb-4">
            {headings.map((heading: { slug: string; text: string }) => (
              <li class="toc-item">
                <a href={`#${heading.slug}`} class="anchor-link">
                  {heading.text}
                </a>
              </li>
            ))}
          </ul>
        </div>
      )
    }
    <slot />
  </section>
</Layout>

<script>
  // Function to update scroll margin based on TOC height
  function updateScrollMargin() {
    const tocHeight = tocElement ? tocElement.offsetHeight : 0;
    const headings = document.querySelectorAll("h2, h3");
    headings.forEach((heading) => {
      (heading as HTMLElement).style.scrollMarginTop = `${tocHeight + 16}px`; // adding 16px padding
    });
  }

  // Add observer for TOC stickiness
  const tocElement = document.getElementById("toc");

  // Initial setup
  if (tocElement) {
    const stickyObserver = new IntersectionObserver(
      ([e]) => e.target.classList.toggle("is-sticky", e.intersectionRatio < 1),
      { threshold: [1] }
    );

    stickyObserver.observe(tocElement);
    updateScrollMargin();
    // Update on window resize
    window.addEventListener("resize", updateScrollMargin);
  }
</script>

<style is:inline>
  .is-sticky ul {
    border-bottom: 1px solid var(--color-slate-600);
    border-spacing: 20px;
  }

  @media (prefers-color-scheme: dark) {
    .is-sticky ul {
      border-bottom: 1px solid var(--color-zinc-200);
      background-color: var(--color-slate-800);
    }
  }

  h2,
  h3 {
    scroll-margin-top: calc(toc);
  }
</style>
