---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <section id="pageContent" class="prose">
    <h1>{frontmatter.title}</h1>
    <slot />
  </section>
</Layout>
